:root {
  --light-color:#828282;
  --dark-color:#000;
}


*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}