@media (min-width: 576px) {
   .hero__lang-box {
    display: block;
  }
  
  .nav__button {
    display: none;
  }
  
}
@media (max-width:576px) {
 .nav__list {
    display: none;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    
 }
 .nav.nav_active .nav__list {
    display: flex;
 }
 
 .nav__button {
    position: fixed;
 }
 
}