.portfolio {
  background-color: #F6F6F6;
}
.portfolio__container {
  text-align: center;
  padding: 80px 0;
}
.portfolio__title {
  padding: 50px 0;
}
.portfolio__list {
}
.portfolio__list-item {
  margin-bottom: 100px;
}
.portfolio__last-item {
  padding-bottom: 50px;
}
.portfolio__item-img {
  margin-bottom: 50px;
}
.portfolio__item-link {
}